* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.imagem_pole{
    width: 40px;
}

main{
    background-color: white;
}

/* header{
    width: 1600px;
} */


body header {
    overflow: hidden;
    margin: auto;
    width: 100%;
    /* background-color: #2418c7; */
    padding: 10px;
    /* font-size: 18px; */
    background-color: white;
    
}

/* #input:hover{
    opacity: 0.5;
} */

.logo {
    position: absolute;
    float: left;
    display: inline-block;
    color: white;
    padding-left: 50px;
}

.nome {

    text-align: center;
    font-family: 'Rubik Glitch', cursive;
    font-size: 50px;
    padding-top: 10px;
    color: black;

}

.ico {

    display: inline-block;
    background-color: white;
    padding-top: 0px;
    float: right;
    color: white;
    margin-right: 20px;
}


.ico:hover{
    opacity: 0.5;
}


.icon {
    width: 25px;
}

.header {
    overflow: hidden;
    margin: auto;
    width: 100%;
    background: rgb(6, 56, 102);
    padding: 10px;
    font-size: 18px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.ico2:hover{
    opacity: 0.5;
}

.ico2 {
    /* display:inline-block */

    float: left;
    color: white;
    margin-left: 30px;
}

.formContainer {
    background-image: url('../assents/corte1.jpeg');
    /* height: 700px; */
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;

    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: 'Abril Fatface', cursive;

    color: white;
    /* font-weight: 700; */
}
.formContainer2 {
    /*background-image: url('../assents/corte1.jpeg');*/
    /*height: 500px;*/
    
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;

    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Abril Fatface', cursive;
    font-size:large;

    color: rgb(6, 56, 102);
    /* font-weight: 700; */
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 50px;
}

.p1 {
    font-size: 20px;
}

input,
select {
    /* width: ; */
    box-sizing: border-box;
    padding: 20px;
    border: none;
}


input[type="submit"] {
    color: white;
    background-color: rgb(6, 56, 102);
    font-weight: bold;
}

input:hover{
    color: white;
    background-color: rgb(6, 56, 80);
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    
}


/* .list_img {
    width: 880px;
    list-style: none;
    display: flex;
    margin: 50px auto;
    margin: 50px;
    padding-left: 100px;
} */

.flex{
    line-height: 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex li{
    list-style: none;
}

.lbox  {       
    display: none;
    visibility: hidden;
    opacity: 0;
}

.min {
    
    width: 200px;
    padding: 10px;

}

.lbox:target  {
    display:block;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, .7);

    position: fixed;
}



.box_img {    
    /* display: none; */
    text-align: center;
    position: 150px auto; 
}



.btn {
    color: #fff;
    font-family: 'arial';
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

.btn2 {
    color: #fff;
    font-family: 'arial';
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}


#prev {
    left: 5%;
    top: 45%;
}

#next {
    right: 5%;
    top: 45%;
}

#close {
    top: 0;
    right: 2%;
}

.box_img img {
    height: 100vh;
    opacity: 0;
}

.lbox:target .box_img img {
    opacity: 1;
    transition: opacity .8s linear;
}

#maps{
    
    padding-top: 0;
    height: 300px;
    width: 300px;
    text-align: center;

}

footer{
    
    text-align: center;
    background-color: rgb(6, 56, 102);
    overflow: hidden;
    margin: auto;
    width: 100%;
    /* background-color: #2418c7; */
    padding: 10px;
    /* font-size: 18px; */
    color: white;
   
}

footer a:hover{
    opacity: 0.5;
}

.img_icones{
    width: 50px;
}

.maps{
    float: right;
}

.conhecer{
    color: rgb(6, 56, 102);
}

.formContainer2 a{
    color: rgb(6, 56, 102);
}


.formContainer2 a:hover{
    opacity: 0.5;
}

.formContainer2 a:visited{
    color: #5F9EA0;
}




.formContainer2 div{
    display: inline-block;
    padding: 20px;
    text-align:center;
}

.versao{
    text-align: center;
    color: rgb(6, 56, 102);
    padding-top: 50px;
}

.versao a:hover {
    opacity: 0.5;
}

.border{
    border:rgb(6, 56, 102) solid;
    padding: 15px;   
    
}

.p5{
    display: inline-block;
    /* float: ; */
    max-width: 30%;
    margin-left: 20px; 
    text-align: center;   
}

/* #img5{
    padding: 10px;
    padding-left: 20px;
    display: inline-block;
    /* float: left; */
    /* text-align: center;  */
/* } */


.p5 p, .p5 h1{
    margin-bottom: 20px;
}

@media screen and (max-width: 1300px){
    .border{
        border: none;
    }
    
    .formContainer2 div{
        display: block;
        padding: 20px;
        text-align:center;
    }

    #img5{
        display: none;    
                
    }

    .p5{
        text-align: center;
        max-width: 100%;
        margin-left: 20px; 
    }
    
}


@media screen and (max-width: 950px){
    .logo{
        /* float: none;
        text-align: center; */
        display:none;
    }

    .box_img img {
        height: 50vh;
        opacity: 0;
    }

    .btn2 {
        color: #fff;
        font-family: 'arial';
        text-decoration: none;
        position: absolute;
        width: 50px;
        height: 50px;
        font-size: 20px;
        text-align: center;
    }
    
    #prev {
        left: 5%;
        top: 30%;
    }
    
    #next {
        right: 5%;
        top: 30%;
    }    

    #close {
        top: 0;
        right: 2%;
    }
    
    
    .box_img img {
        height: 70vh;
        opacity: 0;
    }

}


@media screen and (max-width: 700px){

.imagem_pole{
    width: 20px;
}

.ico2{
    display:inline-block;
    padding-right: 10px;
    padding-left: 17px;
    float:none;
    margin: 0;
    text-align: center;
    font-size: 15px;
    /* padding-left: 0; */
    box-sizing: border-box;
}

.ico{
    float: none;
    text-align: center;
}

.icones{
    float:none;
    text-align: center;
}

.nome{
    text-align: center;
    font-family: 'Rubik Glitch', cursive;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

h1{
 font-size: 30px;
}

h2{
    font-size: 20px;
}

.list_img {    
    display: inline-block; 
    box-sizing: border-box;
    padding-left: 100px;
    padding-bottom: 5px;
    margin: 0;
}

.btn2 {
    color: #fff;
    font-family: 'arial';
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

#prev {
    left: 5%;
    top: 20%;
}

#next {
    right: 5%;
    top: 20%;
}

#close {
    top: 0;
    right: 2%;
}


.box_img img {
    height: 50vh;
    opacity: 0;
}


}